h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#content {
	position: relative;
	padding-top: 30px;
}

#nameFieldContainer {
	text-align: center;
}



#header {
	position: relative;
	text-align: center;
	float: center;
}

.flexTable {
	position: relative;
	text-align: center;
	float: center;
	background-color: green;
	
}

.fuck {
	position: relative;
	text-align: center;
	float: center;
	background-color: green;
}