<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>oauthLoginServlet</servlet-name>
		<servlet-class>com.jacobacon.time_manager.server.OAuthLoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>punchServlet</servlet-name>
		<servlet-class>com.jacobacon.time_manager.server.PunchServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>com.jacobacon.time_manager.server.LoginServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>punchService</servlet-name>
		<servlet-class>com.jacobacon.time_manager.server.PunchServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>reportService</servlet-name>
		<servlet-class>com.jacobacon.time_manager.server.ReportServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>oauthService</servlet-name>
		<servlet-class>com.jacobacon.time_manager.server.LoginServiceOAuthImpl</servlet-class>	
	</servlet>

	<servlet-mapping>
		<servlet-name>oauthLoginServlet</servlet-name>
		<url-pattern>/oauthcallback</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>punchServlet</servlet-name>
		<url-pattern>/punch</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/time_manager/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>punchService</servlet-name>
		<url-pattern>/time_manager/punch</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>reportService</servlet-name>
		<url-pattern>/time_manager/report</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>oauthService</servlet-name>
		<url-pattern>/time_manager/oauth</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- <security-constraint> <web-resource-collection> <web-resource-name>profile</web-resource-name> 
		<url-pattern>/*</url-pattern> </web-resource-collection> <auth-constraint> 
		<role-name>*</role-name> </auth-constraint> </security-constraint> -->

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>
